# Environment
.env
.env.local
.env.*.local

# Dependencies
node_modules/
yarn.lock

# Build output
dist/
build/
.vite/

# Data
dbdata/
corteza_data/

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml